body
{
	background-color:#C63D0F;
	width:80%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	color: #FDF3E7;
}

p
{
	text-align: left;
	border-color: #3B3738;
	border-width: 2px;
	border-style: dotted;
	padding: 5px;
}


h1
{
	background-color:#3B3738;
	color: #FDF3E7;
	width:100%;
}

h2
{
	background-color:#FDF3E7;
	color:#3B3738;
	width:40%;
	margin-right: auto;
	margin-left: auto;
}

h2.larger
{
	width:100%;	
}

h2.underlined
{
	text-decoration: underline;
}

body.amarillo
{
	background-color:Yellow;
}

/* sin visitar */
a:link {
    color: #7E8F7C;
}

/* visitado */
a:visited {
    color: #3B3738;
}

/* mouse encima */
a:hover {
    color: #FDF3E7;
}

/* selecionado */
a:active {
     color: #FDF3E7;
}